.sidebar {
  @media (min-width: 600px) {
    & {
      border-left: 2px solid black;
      padding: 0 1rem;
      min-height: 100vh;
    }
  }
}

.reloadSidebar {
  background: none;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
}
