.login {
  display: grid;
  gap: 0.5rem;

  & label {
    display: grid;
    gap: 0.25rem;

    & span {
      display: block;
    }

    & [data-error] {
      color: red;
    }

    & input {
      padding: 8px 16px;
    }
  }
}
